.root {
	display: flex;
	flex-direction: column;
	padding: 8px;
	.link {
		padding: 8px;
		margin: 4px 0;
		cursor: pointer;
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
		color: #ffffff;
	}

	.disclaimer {
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}
}
